@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet');
html,
body {
    height: 100%;
    }
.greetings,
p,
h1, 
h2,
text{
    font-family: tahoma, verdana, serif;
    }
h1 {
    color: #08298A;
    text-align: center;
    font-size: 1.6rem;
    }
h2 {
    text-align: center;
    color: #FFFFff;
    }
p {
    font-size: 1.2rem;
    color: #08298A;
    padding-left: 20px;
    }
ul  {
    display: flex;
    list-style-type: none;
    }

ul li {
    margin-right: 20px;
   }
li a {
    text-decoration: none;
    font-family: tahoma, verdana, serif;
    font-size: 1.4rem;
    color: #FFFFff;
    font-weight: 800;
    }
.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #F9F0A8;
    padding: 5px;
    height: 100%;
    }
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    margin-bottom: 3em;
    background-color: #5D366D;
    }
.logo img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    }
.about_me {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    
    }
.data {
    display: flex;
    align-items: center;
    }
.fullname {
    margin-right: 20px;
    flex-basis: 750px;
    }
.myImg {
    margin-top: 20px;
    padding-left: 20px;
    flex-basis: 450px;
    }
.knowledge {
    font-size: 1.2rem;
    display: flex;   
    justify-content: center;
    }
.article {
    margin-top: 2em;   
    }
.text {
    font-family: tahoma, verdana, serif;
    font-size: 1.2rem;
    color: #585858;
    }
.footer {
   background-color: #5D366D;
    flex: 0 0 auto;
    }
.copyright
    {
    text-decoration: none;
    font-family: tahoma, verdana, serif;
    text-align: center;
    color: #424242;
    }
